*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
.gradle
.idea
build
artifact
*.jpg
*.csv
*.txt
doc
lib_tb
oc.conf
oc1.conf
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradletasknamecache
f1e9b9262c0bf404c0596422e3aaf484
classes
tomcat.8080
jquery-3.2.1.js
xorder_info.json
.DS_Store
